body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

#ball{
    margin-left: 20px;
    margin-bottom: -5px;  
    width: 40px; 
    height: 40px; 
    border: 1px solid white;
    background: black; 
    border-radius: 50%;
    transition: 1s all linear;
    z-index: 1000;         
}

#ball > div{
    position: relative;
    top: 8px;
    left: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;

}  

#field{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    background: skyblue;
    margin-top: 200px; 
    width: 500px;
}

#ground{
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    background: chocolate;
    transition: 1s all linear;
    z-index: 0;
}

#ground > div{
    background-image: url('rock.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: chocolate;
    width: 20px;
    height: 15px;
    border-radius: 10px 10px 5px 5px;
}

#heaven{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 2000px;
    background: skyblue;
    z-index: 1;
    transition: 1s all linear;
}

#clouds{
    display: flex;
    height: 80px;
    transition: 1s all linear;
    z-index: 1;
}

#clouds > div{
    background-image: url('nuven.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: skyblue;
    z-index: 10;
}

#slash{
   height: 30px;
   margin: 10px 0; 
}